@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


h1 {
  font-size: larger;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}

a {
  text-decoration-style: solid;
  text-decoration: underline;
  
}

.border {
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}